.logo {
  color: #737164;
  font-weight: bold;
  text-align: center;
}

.logo.large {
  font-size: 48px;
  padding: 20px;
  margin: 0 auto;
}

.logo.medium {
  font-size: 32px;
  padding: 15px;
  margin: 0 auto;
}

.logo.small {
  font-size: 24px;
  padding: 10px;
  margin: 0 auto;
}

.logo.medium_left {
  font-size: 32px;
}
