

.logo {
  display: flex;
  /* align-items: center; */
  /* margin: 0 auto; */
}

.logo.large {
  margin: 0 auto;
}

.logo.large > img {
  height: 300px;
}

.logo.medium {
  margin: 0 auto;
}

.logo.medium > img {
  height: 120px;
}

.logo.small {
  text-align: center;
  margin: 0 auto;
}

/* .logo.medium {
  font-size: 32px;
  padding: 15px;
  margin: 0 auto;
} */

/* .logo.medium_left {
  display: flex;
  align-items: center;  
} */

.logo.medium_left > img {
  height: 80px;
}

.logo.small > img {
  height: 100px;
  margin: 0 auto;
}

