/* SearchBar 스타일 */
.search-area {
  margin-bottom: 20px;
}

.search-content {
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e7e7e3;
}

.search-input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  /* background: transparent; */
  /* background-color: #e7e7e3; */
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: #e7e7e3;
  border: none;
  padding: 5px 10px 0 10px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

.search-button {
    background: none !important;
    background-color: transparent !important;
}
.search-button:hover,
.search-button:active,
.search-button:focus {
    background: none !important;
    background-color: transparent !important;
}


/* .search-button:hover {
  background-color: #e7e7e3;
} */