/* .login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
} */

.login-content {
  background: white;
  padding: 35% 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .login-content {
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */


.login-form {
  margin-bottom: 20px;
}

.login-footer {
  text-align: center;
}

.join-link {
  color: #737164;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.join-link:hover {
  color: #5a5952;
  text-decoration: underline;
}
