.main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.main-box {
  background: white; 
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 100%;
  max-width: 90%;
  position: relative;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.header-right {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.main-card-content {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 45% 0;
    padding: 5% 10%;
    cursor: pointer
}

.card-company {
    text-align: right; 
    margin-bottom: 60px;
}

.main-card-text li {
    font-size: 18px;
    margin-bottom: 3px;
    list-style: none;
}

.main-card-text li:nth-child(1) > span {
    font-size: 24px;
    font-weight: 900;
}


/* 어두운 배경 (팝업 활성화 시) */
.main-box.dimmed {
  filter: brightness(50%);
}

/* 팝업창 */
.popup-content {
  background-color: white;
  
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 400px;
  position: absolute;
  /* z-index: 1000; */
}

/* 닫기 버튼 */
.popup-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 26px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  color: #737164;
}

/* 표 스타일 */
.popup-content table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.popup-content tr {
  margin-bottom: 10px;
}

.popup-content td {
  padding: 6px 4px;
  border-bottom: 1px solid #73716429;
}

.popup-content td:first-child {
  /* background-color: #737164;; */
  /* color: #fff; */
  /* border-bottom: 4px solid #ffffff; */
  /* text-align: center; */
  font-weight: bold;
  color: #737164;
  border-radius: 2px;
  width: 30%;
}

.popup-content td:last-child {
  padding-left: 20px;
}

.popup-content tr:last-child td {
  border-bottom: None;
}

@media (max-width: 768px) {
  .main-box {
    padding: 30px;
  }
  
  .main-header {
    margin-bottom: 15px;
  }
}
