/* .mycard-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 0;
} */

/* .mycard-box {
  background: #e7e7e3;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  position: relative;
} */

.mycard-box {
  /* background: #BDBEB6;; */
  /* background: #F5F5F5; */
  position: relative;
}

.mycard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.back-btn {
  position: absolute;
  left: 0;
  transition: color 0.3s;
}

.mycard-header > p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.mycard-content {
  margin-bottom: 25px;
  /* 추가된 부분: 내부 스크롤 허용 및 모바일 스무스 스크롤 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  /* -webkit-overflow-scrolling: touch; iOS에서 스무스 스크롤 */
  /* 뷰포트에 맞춘 최대 높이 (헤더/여백에 따라 값 조정) */
  max-height: 510px;
}

.mycard-content input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #f9f9f9;
  margin: 5px 0;
}

.mycard-content input:focus {
  border-color: #737164;
}

/* .mycard-plus {
  text-align: right;
  font-weight: bold;
  color: #737164;
  cursor: pointer;
} */

@media (max-width: 768px) {
  .mypage-box {
    padding: 20px;
  }
  
  .mypage-header {
    margin-bottom: 15px;
  }
}
