.mycard-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.mycard-box {
  background: #e7e7e3;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  
  /* position: relative; */
}

.mycard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  font-size: 24px;
  color: #737164;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.back-button:hover {
  color: #5a5952;
}

.mycard-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 30% 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 95%;
  max-width: 400px;
  /* position: absolute; */
  /* z-index: 1000; */
}

/* 표 스타일 */
.mycard-content table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.mycard-content tr {
  margin-bottom: 10px;
}

.mycard-content td {
  padding: 6px 4px;
  border-bottom: 1px solid #73716429;
}

.mycard-content td:first-child {
  /* background-color: #737164;; */
  /* color: #fff; */
  /* border-bottom: 4px solid #ffffff; */
  /* text-align: center; */
  font-weight: bold;
  color: #737164;
  border-radius: 2px;
  width: 30%;
}

.mycard-content td:last-child {
  padding-left: 20px;
}

.mycard-content tr:last-child td {
  border-bottom: None;
}

.mycard-plus {
  text-align: right;
  font-weight: bold;
  color: #737164;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mypage-box {
    padding: 20px;
  }
  
  .mypage-header {
    margin-bottom: 15px;
  }
}
