.mypage-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.mypage-box {
  background: #e7e7e3;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  position: relative;
}

.mypage-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  font-size: 24px;
  color: #737164;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.back-button:hover {
  color: #5a5952;
}

.welcome-text {
  color: #737164;
  margin-bottom: 25px;
}

.mypage-menu {
  margin-bottom: 60%;
  padding: 0 10px;
}

/* .mypage-menu ul {
  text-align: center;
} */

.mypage-menu li {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  /* width: 95%; */
  /* background-color: #73716479; */
  background-color: #fff;
  padding: 4% 8%;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.mypage-menu li:hover {
  background-color: rgb(164, 162, 149);
  color: #fff;
}

.toggle-myid {
  display: None;
}

.toggle-content {
  display: block;
}


.logout {
  color: #999787bc;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mypage-box {
    padding: 20px;
  }
  
  .mypage-header {
    margin-bottom: 15px;
  }
}
