/* .password-container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
} */

/* .password-box {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 600px;
  position: relative;
} */

.password-box {
  /* background: #BDBEB6;; */
  background: #fff;
  position: relative;
}

.dark-mode .password-box {
  background: var(--dark-surface);
}

.password-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.password-header > p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.dark-mode .password-header h2 {
  color: var(--dark-text-primary);
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  display: block;
  color: #737164;
  font-size: 14px;
}

.dark-mode .form-group label {
  color: var(--dark-text-secondary);
}

.form-group input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #f9f9f9;
  margin: 5px 0;
}

.form-group input:focus {
  border-color: #737164;
}

/* .form-group input {
  padding: 12px 15px;
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
} */

/* .form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(115, 113, 100, 0.1);
} */

.dark-mode .form-group input {
  background: var(--dark-background);
  color: var(--dark-text-primary);
  border: 1px solid var(--dark-border);
}

.error-message {
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
}

.password-tips {
  background: var(--background);
  padding: 20px;
  border-radius: 10px;
  /* margin-top: 20px; */
}

.dark-mode .password-tips {
  background: var(--dark-background);
}

.password-tips h4 {
  font-size: 14px;
  color: #737164;
  margin-bottom: 10px;
}

.password-tips ul {
  list-style: none;
  padding: 0;
}

.password-tips li {
  font-size: 13px;
  color: #737164;
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
}

.dark-mode .password-tips li {
  color: var(--dark-text-secondary);
}

.password-tips li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: var(--success);
}

.submit-button {
  width: 100%;
  padding: 10px;
  background: #737164;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.submit-button:hover {
  background: #5a5952;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(115, 113, 100, 0.4);
}
